# Intellij IDEA
.idea/
*.iml
target/

# https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# https://github.com/github/gitignore/blob/master/Java.gitignore
*.class

# Package Files #
*.jar
*.war
*.ear

# linux temp files
*~
